/* main */

.landing {
  background-color: black;
  font-family: 'Times New Roman', sans-serif;
  min-width: 768px;
}

.wrapper {
  width: 1440px;
  height: 8000px;
}

.pic {
  position: absolute;
  background-size: cover;
}

#logo {
  position: absolute;
  top: 105px;
  left: 61px;
  font-size: 48px;
  color: white;
}

/* PART 1 */
.part_1 {
  position: relative;
  width: 1329px;
  height: 571px;
  top: 214px;
  left: 39px;
}

.img {
  width: 1036px;
  height: 540px;
}

#pic_1 {
  background-image: url(../img/ra.png);
  width: 700px;
  height: 394px;
  top: 0;
  left: 21px;
}
#pic_2 {
  background-image: url(../img/ra2.png);
  width: 700px;
  height: 395px;
  top: 145px;
  right: 0;
}

.fire {
  position: relative;
  bottom: -505px;
  display: flex;
  width: 770px;
  height: 70px;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

/* PART 2 */

.part_2 {
  position: relative;
  width: 1216px;
  height: 1297px;
  margin-top: 365px;
  left: 200px;
  /*background-color: red;
  opacity: .5;*/
}

.fire_2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 326px;
  height: 176px;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.mix {
  position: absolute;
  font-family: 'Times New Roman', sans-serif;
  color: white;
  font-style: italic;
  font-size: 24px;
}

#m1 {
  top: 0;
  right: 357px;
}

#m2 {
  top: 22px;
  right: 348px;
}

.img_2 {
  width: 1216px;
  height: 1142px;
}

#pic_3 {
  background-image: url(../img/ra3.png);
  width: 700px;
  height: 419px;
  top: 70px;
  left: 170px;
  z-index: 1;
}
#pic_4 {
  background-image: url(../img/ra4.png);
  width: 1216px;
  height: 912px;
  bottom: 86px;
  right: 0;
}

.number {
  position: absolute;
  font-family: 'Times New Roman', sans-serif;
  color: red;
  -webkit-text-stroke: 1px yellow;
  font-style: italic;
  font-size: 70px;
  text-decoration: underline;
  text-decoration-color: red;
  z-index: 3;
}

#n1 {
  top: 445px;
  right: 370px;
}

#n2 {
  top: 595px;
  right: 49px;
}

#n3 {
  bottom: 133px;
  left: 90px;
}

/* PART 3 */
.part_3 {
  position: relative;
  width: 1400px;
  height: 1522px;
  margin-top: 180px;
  right: 0;
}

.msg {
  position: absolute;
  color: white;
  top: -24px;
  left: 61px;
  width: 684px;
  height: 372px;
}

#hp1 {
  font-size: 146px;
}
#hp2 {
  font-size: 42px;
}
#hp3 {
  font-size: 38px;
}
#hp4 {
  font-size: 101px;
}

.img_3 {
  width: 1398px;
  height: 1244px;
}

#pic_5 {
  background-image: url(../img/ra5.png);
  width: 877px;
  height: 493px;
  top: 279px;
  right: 2px;
}

#pic_6 {
  background-image: url(../img/ra6.png);
  width: 1268px;
  height: 849px;
  bottom: -1px;
  left: 0;
  z-index: 1;
}

/* PART 4 */
.part_4 {
  position: relative;
  width: 1336px;
  height: 524px;
  margin-top: 138px;
  right: -61px;
}
.fire_3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 108px;
  height: 241px;
  top: 112px;
  left: 394px;
}
.mssg {
  position: absolute;
  font-family: 'Times New Roman', sans-serif;
  line-height: 22px;
  color: white;
  font-size: 20px;
}

#mssg1 {
  width: 326px;
  height: 88px;
  top: -2px;
  right: 28px;
}
#mssg2 {
  width: 313px;
  height: 86px;
  top: 86px;
  left: 0;
}
#mssg3 {
  width: 390px;
  height: 88px;
  bottom: 2px;
  right: 246px;
}
.result {
  position: absolute;
  font-family: 'Times New Roman', sans-serif;
  color: yellow;
  -webkit-text-stroke: 2px red;
  font-style: italic;
  font-size: 100px;
  top: 202px;
  right: 21px;
}

/* PART 5 */
.part_5 {
  position: relative;
  margin-top: 116px;
  width: 1440px;
  height: 1560px;
}

#pic_7 {
  background-image: url(../img/ra7.png);
  width: 733px;
  height: 550px;
  top: 0;
  left: 128px;
}

#pic_8 {
  background-image: url(../img/ra8.png);
  width: 901px;
  height: 675px;
  top: 361px;
  right: 0;
  z-index: 1;
}

#pic_9 {
  background-image: url(../img/ra9.png);
  width: 1124px;
  height: 789px;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/* PART 6 */
.part_6 {
  position: relative;
  margin-top: 211px;
  width: 1440px;
  height: 1450px;
}

.fire_4 {
  position: relative;
  top: 0;
  margin: auto;
  display: flex;
  width: 1398px;
  height: 325px;
  flex-direction: row;
  justify-content: space-between;
}

#pic_10 {
  background-image: url(../img/ra10.png);
  width: 1440px;
  height: 1079px;
  top: 280px;
  z-index: 1;
}

#end {
  z-index: 2;
  position: absolute;
  font-family: 'Times New Roman', sans-serif;
  color: white;
  font-size: 20px;
  bottom: 8px;
  left: 345px;
}

.gif {
  position: absolute;
  z-index: 5;
}

#gif_1 {
  top: 0;
  right: 75px;
}

#gif_2 {
  top: 52px;
  right: 150px;
}

#gif_3 {
  top: 450px;
  left: 50px;
}
